[Unit]
Description=Python SENSORNET sensor client service
StartLimitIntervalSec=500
StartLimitBurst=5

[Install]
WantedBy=default.target

[Service]
LimitNOFILE=8096
LimitNOFILESoft=8096
WorkingDirectory=/home/pi/SourceCode/sensornet/client
Restart=on-failure
RestartSec=5s
ExecStart=/home/pi/SourceCode/sensornet/client/env/bin/python3.9 /home/pi/SourceCode/sensornet/client/src/main.py
